.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 20%;
  height: 50%;
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 100%;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 65px;
  background-size: cover !important;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}
.sliderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px;
  height: 100%;
  width: 90%;
  align-items: flex-start;
}

.sliderContentHead > h2 {
  font-family: BE;
}

.sliderContentInfo {
  height: 63%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.sliderContentInfo > p {
  width: 80%;
  height: 14%;
  font-size: 1.9rem;
  font-family: "rasputin";
  font-weight: normal;
}

.sliderContentHead {
  margin: 16px 0;
}
.sliderContentInfo > p {
  margin: 0;
  margin-bottom: 10px;
}

.book-now {
  display: flex;
  width: 100%;
  height: 7%;
  justify-content: flex-end;
}

.book-now-btn {
  width: 50%;
  height: 100%;
  border-radius: 9px;
  border: 0;
  background: transparent;
  backdrop-filter: brightness(0.3);
  color: white;
  font-family: "rasputin";
}

/* normal css  */

.bg-slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.btns {
  padding: 59px;
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btns .btn {
  cursor: pointer;
  background: transparent;
}

.btns .btn:hover {
  backdrop-filter: blur(5px);
}

.btns .btn:last-child {
  margin-left: 40px;
}
.btn {
  background: white;
  border-radius: 28px;
}

/* normal css  */

/* media query */

@media only screen and (max-width: 500px) {
  .slideC {
    position: relative;
    perspective: 603px;
    transform-style: preserve-3d;
    width: 48%;
    height: 30%;
    margin: 0 auto;
  }

  .sliderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 30px;
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }

  .sliderContentHead > h2 {
    font-size: 1.5rem;
  }

  .sliderContentInfo {
    height: 63%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .sliderContentInfo > p {
    width: 80%;
    height: 14%;
    font-size: 0.9rem;
  }

  .book-now {
    margin-top: 12px;
    display: flex;
    width: 100%;
    height: 9%;
    justify-content: flex-end;
  }

  .book-now-btn {
    width: 75%;
    height: 100%;
    border-radius: 9px;
    font-size: 0.7rem;
    border: 0;
    background: transparent;
    backdrop-filter: brightness(0.3);
    color: white;
    font-family: "rasputin";
  }
  
  .btns{
    padding: 59px 0;
  }
}

@media only screen and (max-width: 400px){
  .book-now {
    margin-top: 12px;
    display: flex;
    width: 100%;
    height: 9%;
    justify-content: flex-end;
}

.sliderContentInfo {
  height: 63%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.slideC {
  position: relative;
  perspective: 475px;
  transform-style: preserve-3d;
  width: 52%;
  height: 33%;
  margin: 0 auto;
}

.sliderContent{
  justify-content: center;
}

.btns .btn {
  cursor: pointer;
  height: 5vh;
  width: 10vw;
}



.btns > .btn > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}



}

@media only screen and (max-width: 435px){
  .slideC {
    perspective: 650px;
    height: 28%;
  }
}

@media only screen and (max-width: 400px){
  .slideC {
    perspective: 487px;
    height: 32%;
    width: 60%; 
}
}
